{{page-title "Fruits UI"}}

<h1 id="title">Fruits UI application library</h1>

<h2>Pagination</h2>

<FruitsUi::Pagination
  @route="application"
  @page={{this.router.currentRoute.queryParams.page}}
  @totalPages={{this.totalPages}} />

